*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.centralize{
    max-width: 1024px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2, h3{
    text-transform: uppercase;
}